<h1>Index</h1>
<p><%= link_to "Users", users_path %></p>
<p><%= link_to "Places", places_path %></p>
<p><%= link_to "Events", events_path %></p>
<p><%= link_to "Possible Dates", possible_dates_path %></p>